{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Mis evaluacionmes</li>
    </ol>
  </nav>
  <h2 class="mb-3"></h2>
  <a href="{% url 'coordinators:quiz_add' %}" class="btn btn-primary mb-3" role="button">Agregar evalucación</a>
  <div class="">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th></th>
          <th>Preguntas</th>
          <th>Tomada</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle"><a href="{% url 'coordinators:quiz_change' quiz.pk %}">{{ quiz.name }}</a></td>
            <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.questions_count }}</td>
            <td class="align-middle">{{ quiz.taken_count }}</td>
            <td class="text-right">
              <a href="{% url 'coordinators:quiz_results' quiz.pk %}" class="btn btn-primary">Ver resultados</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No haz creado ninguna evaluación</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
