{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row align-middle justify-content-center">
    <div class=" align-center col-lg-4 col-md-6 col-sm-8 col-12">
      <a class="align-center ml-auto mr-auto mx-0" href="https://github.com/sibtc/django-multiple-user-types-example"><img class="rounded mx-auto d-block" style="position:relative; height:120px" src="/static/img/logoletralibre.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    </div>
  </div>
       <footer>
            <div class="fixed-bottom pb-4 row">
                <div class="col-6" style="background-color: red;"><br></div>
                <div class="col-6" style="background-color: blue;"><br></div>
            </div>
    </footer>
{% endblock %}
